body, h1, h2, p {
    padding: 0;
    margin: 0;
}

main {
    background-color: #0077B6;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    background-color: #089f8f;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    font-size: 20px;
    font-family: 'Lemon';
    color: #F8E559;
}

.forma {
    background-color: #089f8f;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 60px;
    border-radius: 20px;
}

.select_text {
    color: #332941;
    font-family: "Lemon";
    text-align: center;
}
@keyframes anime {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
    
}



button {
    border: 0;
    background: rgb(107,34,195);
    
    background: linear-gradient(243deg, rgba(2,0,36,1) 5%, rgba(121,9,75,1) 29%, rgba(98,21,66,1) 33%, rgba(87,27,82,1) 35%, rgba(60,36,93,1) 38%, rgba(56,72,97,1) 42%, rgba(77,97,95,1) 48%, rgba(71,150,99,1) 62%, rgba(45,189,91,1) 76%, rgba(17,157,9,1) 89%, rgba(249,255,0,1) 100%);	
    background-size: 400% 400%;
	animation: anime 12s ease infinite;
    
    color: #F8E559;
    padding: 10px 30px;
    border-radius: 5px;
    transition: all 0.5s ease;
    
}

button:hover {
    background: #792ce5;
    cursor:pointer;
}

.select {
    border: 1px solid #332941;
    border-radius: 20px;
    padding: 5px 20px;
    background: transparent;

}

option {
    background-color: #90E0EF;
    border: 1px solid #332941;
    border-radius: 20px;
}
footer {
    background-color: #089f8f;
    padding: 20px 10px;
    color: #F8E559;
    text-align: center;
    font-family: "Lemon";
    font-size: 10px;
}

h2 {
    font-family:'Dancing+Script:wght@400;500 & display=swap'

}
result {
    background-color: #089f8f;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px 90px;
    border-radius: 20px;

}